body{
  background-color: rgb(116, 107, 204);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#holder-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.tile-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgb(107, 218, 107);
  border: solid;
}